.container {
  height: 50px;
  background-size: cover; /*ocupe el tamaño del div que tiene*/
  background-position: center top;
  display: flex;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: 0 0 2px #c1bcbc;
}

.img_content {
  display: flex;
}

.main_button {
  background-color: #7acc2d;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
