<h1 style="text-align: center">Drinks</h1>
<div class="container">
  <div class="search">
    <label for="selectoption"
      >Filter by name, first or first ingredient name</label
    >
    <p>
      <select
        name="selectoption"
        [(ngModel)]="seleccionado"
        class="form-select"
        aria-label="Default select example"
        (change)="onSelectOption('selectOption')"
        [disabled]="disableOption"
      >
        <option [value]="item" *ngFor="let item of lista">
          {{ item }}
        </option>
      </select>
    </p>
    <!-- select categories -->
    <label for="">Category</label>
    <p>
      <select
        name="selectcategory"
        [(ngModel)]="selectCategory"
        class="form-select"
        aria-label="Default select example"
        [disabled]="disableCategory"
        (change)="onSelectOption('selectCategory')"
      >
        <option [value]="item" *ngFor="let item of lstCategories">
          {{ item }}
        </option>
      </select>
    </p>
    <button
      type="button"
      class="btn btn-primary"
      *ngIf="selectCategory"
      (click)="SearchCategory()"
    >
      Search
    </button>
    <input
      type="search"
      [formControl]="searchField"
      placeholder="Search ..."
      *ngIf="!selectCategory"
    />
  </div>
  <table class="table">
    <thead *ngIf="!ingredient">
      <tr>
        <th>Drink</th>
        <th>Tags</th>
        <th>Category</th>
        <th>Alcoholic</th>
        <th>Glass</th>
        <th>Instructions</th>
        <th>Detail</th>
      </tr>
    </thead>
    <thead *ngIf="ingredient">
      <tr>
        <th>ABV</th>
        <th>Alcohol</th>
        <th>Description</th>
        <th>Ingredient</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody data-test-id="records-body" *ngIf="!ingredient">
      <tr *ngFor="let item of drinks">
        <td>{{ item?.strDrink }}</td>
        <td>{{ item?.strTags }}</td>
        <td>{{ item?.strCategory }}</td>
        <td>{{ item?.strAlcoholic }}</td>
        <td>{{ item?.strGlass }}</td>
        <td>{{ item?.strInstructions }}</td>
        <th>
          <a routerLinkActive="active" [routerLink]="['/details', item.idDrink]"
            >Show</a
          >
        </th>
      </tr>
    </tbody>

    <tbody data-test-id="records-body" *ngIf="ingredient">
      <tr *ngFor="let item of ingredients">
        <td>{{ item?.strABV }}</td>
        <td>{{ item?.strAlcohol }}</td>
        <td>{{ item?.strDescription }}</td>
        <td>{{ item?.strIngredient }}</td>
        <td>{{ item?.strType }}</td>
      </tr>
    </tbody>
  </table>
</div>
